body {
    margin:0;
}

section {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    /* border: 1px solid black; */
}

.section-item {
    margin: auto;
}

ul {
    list-style-type: none;
}

ul > li {
    display: inline;
    margin:10px;
}